[2017-07-22 01:45] xiaohange opened #1 "Sorry, no tabbar, not perfect"
Sorry, no tabbar, not perfect

[2017-07-22 08:22] fahidattique55 commented on #1
Hi xiaohange,

FAPanels also works perfect in UITabBarController applications. I have tested it many times. Can you please mention any example in which you are facing issue ? It would be a fun if you need some extra feature in FAPanels.

Thank you

[2017-07-22 08:36] fahidattique55 commented on #1
xiaohange,

You can use FAPanels with TabBar application in these ways.

1. Set centerVC of FAPanelController a UITabBarController.
2. Set rootVC (index 0) of a UITabBarController a FAPanelController.

Both of these works perfect and the main thing here is that you have to be careful about the transitions of FAPanel Controller and UITabBarController. These two are both separate things.

For case 1

[2017-07-22 08:37] #1 closed

[2017-08-01 09:17] kanuder opened #2 "FAPanel configuration issue"
i followed instructions step-by-step and integrated FApanel. I can see the left panel but facing issue when trying to change configuration of left menu. Thanks.
![screen shot 2017-08-01 at 2 38 12 pm](https://user-images.githubusercontent.com/6723767/28818244-2ed28fb0-76c8-11e7-9d4a-7a47a4a715d5.png)

[2017-08-01 17:45] fahidattique55 commented on #2
Hi kanuder,

Thanks for reporting the issue. The issue is resolved now. Please update the pod to v0.1.5 and try again.

[2017-08-01 17:45] #2 closed

[2017-08-01 18:45] nitrag opened #3 "carthage support?"
Can you please add Carthage support?

[2017-08-01 18:48] fahidattique55 commented on #3
Hi nitrag,

Thanks for the suggestion. I will add Carthage support in it soon. Let me know in case you have any further suggestions.

Thanks & Regards

[2017-08-02 13:31] zdenektopic commented on #3
+1 👍

[2017-08-03 05:49] blackphnx opened #4 "Unknown Class"
I've followed the instructions for install but I keep getting this error. Also, even when I copy the sample project onto a new project. Any idea?

2017-08-03 00:46:19.745949-0500 menu[82818:17871549] Unknown class _TtC4menu17FAPanelController in Interface Builder file.
Could not cast value of type 'UIViewController' (0x1110a33f8) to 'FAPanels.FAPanelController' (0x10e28d4a0).
2017-08-03 00:46:19.9

[2017-08-04 11:07] fahidattique55 commented on #4
Hello blackphnx,

You are getting this error because in Interface builder file (i.e storyboard/xib) the controller is not inheriting from the target. Please see the solution to resolve it in below images.

![error_screen_shot](https://user-images.githubusercontent.com/12518061/28966322-e9f91756-792e-11e7-87c4-9827a11e93ed.png)

![error_screen_shot_withannoration](https://user-images.githubusercont

[2017-08-04 11:08] fahidattique55 commented on #4
I hope this will resolve your issue. Please let me know in case you face any further issues.

Thanks

[2017-08-04 11:08] #4 closed

[2017-08-04 15:37] hamsternik opened #5 "Rewrite access control from public to open"
In this issue, I just want to discuss an ability get access for each user of your framework to create custom subclasses inheriting from the `FAPanelController` class and override any method, which he/she prefer.

It's quite simple, and I guess, it'll be such a cool way to interact with your framework if need.

[2017-08-04 15:42] fahidattique55 commented on #5
Hi hamsternik,

I agree with you and Its a great option for all users of FAPanels. I will update it soon.

Thanks

[2017-08-04 15:43] hamsternik opened #6 "Create an example project"
Working with your framework, I guess it will be amazing if a new user will be able not just look at README throughout working with `FAPnels`, but if he/she could download a small demo project with some easy-to-implement features and can touch it deeper, interacting and adapting to work with the framework in parallel.

[2017-08-04 15:47] fahidattique55 commented on #6
When you will clone 'FAPanels', you will get the example project in it. In example project, one can interact with all features and touch deeper as well.

[2017-08-04 15:50] fahidattique55 commented on #6
Other than that, if you have any suggestion then please share it. It would be a great fun to add on new things in 'FAPanels' to make people's life more easier.

Lastly, I do appreciate the suggestion you give me earlier.

Thank you

[2017-08-04 15:59] hamsternik commented on #5
OK. If I'll have some free time today, I guess I'll make a PR with this fix.

[2017-08-04 16:02] hamsternik commented on #6
@fahidattique55 yes, I find example classes, which are you talking about.
But the preferable way is to make a separate project in the isolated folder named smth like `FAPanelsExample`. It will be more clear for each of new user, IMO.

[2017-08-04 16:05] hamsternik commented on #6
OK. for now I'm using your framework, but after that, I think about some new example project.
BTW, I think first of all it's necessary to isolate your existed example project from the library source code.

[2017-08-04 18:47] #5 closed

[2017-08-04 18:48] fahidattique55 commented on #3
Hi zdenektopic,

Carthage support is added for FAPanels. Please have a look into it and enjoy. I appreciate you suggest me about Carthage. Please feel free to ask me more to add in FAPanels.

Thanks & Regards

[2017-08-04 18:48] #3 closed

[2017-08-04 18:50] fahidattique55 commented on #6
Hey hamsternik,

I have updated the access control level to 'open'. So that you can subclass FAPanels classes. Also for example project, feel free to contribute as you want. Contributions are always welcome for FAPanels.

Thanks & Regards

[2017-08-04 18:50] #6 closed

[2017-08-05 06:15] blackphnx commented on #4
Still having the same issue. I am using swift 4 if that makes any difference.

![screen shot 2017-08-05 at 1 12 24 am](https://user-images.githubusercontent.com/8032366/28993410-54714a6c-797b-11e7-983a-aa7af5f1bb4a.png)
![screen shot 2017-08-05 at 1 11 44 am](https://user-images.githubusercontent.com/8032366/28993409-546f20f2-797b-11e7-837e-add2a442650a.png)

[2017-08-06 12:09] DavidKababyan opened #7 "FAPanels pod doesnt exist"
Hey, the pod doesnt exist, please check that out.

[2017-08-06 12:56] fahidattique55 commented on #7
Hi DavidKababyan,

I have tested it and I am able to install the 'FAPanels' from cocoapods.

![screen shot 2017-08-06 at 5 52 35 pm](https://user-images.githubusercontent.com/12518061/29003451-62d39e42-7ad0-11e7-8708-b72a38c3d081.png)

I hope the cocoapods server was down or may be your master cocoapods repo was not updated. Please let me know in case you face any issues.

Thanks & Regards

[2017-08-06 12:58] fahidattique55 commented on #7
Also, Please make sure you can see the 'FAPanels' cocoapods page.

https://cocoapods.org/?q=FAPanel

[2017-08-06 14:09] DavidKababyan commented on #7
Hey, thx for quick reply!
I could see it cocoapods website but it wasnt working on cocoapods 1.2.
I updated to 1.3 version and it worked.

Thanks a lot!

[2017-08-06 15:54] fahidattique55 commented on #7
Hi DavidKababyan,

You are always welcome. Please let me know in case you have any query or you face any issue.

Thanks & Regards

[2017-08-06 16:19] #7 closed

[2017-08-09 19:00] steve21124 opened #8 "Great library. Thanks for sharing"
Thanks for sharing the library. just info. Warning in xcode.
warning from xcode
"the use of Swift 3 @objc inference in Swift 4 mode is deprecated. Please address deprecated @objc inference warnings, test your code with “Use of deprecated Swift 3 @objc inference” logging enabled, and disable Swift 3 @objc inference."

[2017-08-11 14:49] MansoorJafari opened #9 "crash in appdelegate"
Hi
after set this code
`let rootController: FAPanelController = window?.rootViewController as! FAPanelController`

app crash and get me this error

Could not cast value of type 'LibraryForDeveloper.ViewController'
my ViewController extend from UIViewController

<img width="322" alt="screen shot 1396-05-20 at 19 44 15" src="https://user-images.githubusercontent.com/15822698/29219561-a7113ea6-7ecd-1

[2017-08-11 16:13] fahidattique55 commented on #9
Hi MansoorJafari,

Did you verify the step 1 that I have mentioned in README.md file. Please verify that your root window is of FAPanels class. Let me know in case the issue still persists.

Thanks & Regards

[2017-08-11 16:14] fahidattique55 commented on #8
Hi steve21124,

I will update it soon.

Thanks & Regards

[2017-08-11 18:37] MansoorJafari commented on #9
I create uiviewcontroller without storyboard and with only code.
how to set step 1??

[2017-08-11 20:17] fahidattique55 commented on #9
Just assign window?.rootViewController = FAPanelController() and then you can set centerVC to panels like,

(window?.rootViewController as! FAPanelController).centerVC =  ViewController()

Thanks & Regards

[2017-08-12 09:45] MansoorJafari commented on #9
Thank you for answer to my question, but I can't do this.

[2017-08-12 09:47] fahidattique55 commented on #9
You are welcome. Why you can not do this? I did not get your point. Can you please explain?

[2017-08-12 10:08] MansoorJafari commented on #9
Thanks.
this is my appdelegate
<img width="723" alt="screen shot 1396-05-21 at 14 36 19" src="https://user-images.githubusercontent.com/15822698/29239781-c69ca10e-7f6b-11e7-8705-4a37e36abd23.png">

this is my leftVC
<img width="717" alt="screen shot 1396-05-21 at 14 37 07" src="https://user-images.githubusercontent.com/15822698/29239782-d8facda8-7f6b-11e7-917b-853095f339a2.png">

and this is my ma

[2017-08-12 10:46] fahidattique55 commented on #9
Hi MansoorJafari,

you are setting the root window as UINavigationController which is not FAPanelsController.

Please updated the line,

window?.rootViewController = UINavigationController(rootViewController: centerVC)

to be like this:

let navVC = UINavigationController(rootViewController: centerVC)

window?.rootViewController = FAPanelController()

Now, the window's root controller  is of FAPan

[2017-08-12 11:09] MansoorJafari commented on #9
Thank you very much.
problem solve.

[2017-08-12 11:10] fahidattique55 commented on #9
You are always welcome.

[2017-08-20 16:44] droni89 opened #11 "(Request) FAPanelDelegate"
Might be useful to create a delegate for FAPanelController:

 public protocol FAPanelControllerDelegate: class{

    func centerPanelWillBecomeActive()
    func leftPanelWillBecomeActive()
    func rightPanelWillBecomeActive()

    func centerPanelDidBecomeActive()
    func leftPanelDidBecomeActive()
    func rightPanelDidBecomeActive()
}

[2017-08-23 15:28] fahidattique55 commented on #11
Hi droni89,

I will add it soon.

Thanks & regards

[2017-08-27 09:53] #8 closed

[2017-08-27 09:53] #11 closed

[2017-08-27 09:54] fahidattique55 commented on #11
Hi droni89,

The requested feature has been added. Please have a look into it and let me know in case you have any query.

I always welcome the new feature requests.

Thanks & Regards

[2017-08-27 13:21] droni89 commented on #11
Thanks for that!

Having a few Issues:

1. The delegate var in your FAPanelController class needs to be an open var because when the delegate is implemented in another class the delegate variable needs do be initialised such that
panel?.delegate = self

This currently raises an error that FAPanelController has no such variable

2. Implementing the delegate requires stubs for each of the delegate m

[2017-08-27 14:16] fahidattique55 commented on #11
Hi droni89,

Thanks for letting me know about the issues. I appreciate you kind concerns. The issue is fixed as you have suggested.

Thanks & Regards

[2017-08-29 10:06] djaygit opened #12 "Panel Delegates responses are slow"
Not sure if it's only me

Delegate methods are running called for the first few times.

and

let panel = FAPanelController() doesn't work, have to use (coder: ..)

[2017-08-30 17:14] fahidattique55 commented on #12
Hi djaygit,

I didn't get your point about delegate. Can you please explain it ?

FAPanelControll is a subclass of UIViewController. The init() is not a designated initialiser. That is why you can not make its object like  FAPanelController(). You can use it with coder or nib. I prefer using it with storyboards. That is the most simplest way of integrating it.

[2017-08-30 17:15] fahidattique55 commented on #12
It would be good if you can also tell me the reason you are using the FAPanelController() ?

[2017-09-02 12:23] djaygit commented on #12
The delegate methods FAPanelStateDelegate
[code]
are not called instantly, let me explain
when the app starts, if i open side panel, then leftPanelWillBecomeActive gives no response
neither centerPanelWillBecomeActive.

But after few tries they start responding

get it?

[2017-09-11 17:00] fahidattique55 commented on #12
Hi djaygit,

I have tested the delegates and its responding me to specified functions every time. Can you please verify the delegate is not nil while you are expecting the delegate methods to be called?

Please let me know if you face the issue again.

Thanks & Regards

[2017-09-13 14:40] vCrespoP opened #14 "Right panel position"
Any option to get the behavior already defined for:

...but for right panel?

Thanks for this useful implementation!

[2017-09-18 17:16] #12 closed

[2017-09-18 17:31] fahidattique55 commented on #14
Hi vCrespoP,

When I will get some free time I will add this feature as well.

Thanks & Regards

[2017-09-24 12:02] fahidattique55 commented on #14
Hi vCrespoP,

Your requested feature has been added. Please have a look into it.

Thanks & Regards

[2017-09-24 12:02] #14 closed

[2017-10-02 14:40] CrEaK commented on #9
I tried your example but Xcode throws:
"Missing argument for parameter 'coder' in call"
Example:
"let panelController = FAPanelController()"

It seams that the only init-Method is with NSCoder?

Any idea?
Thanks for your help!

[2017-10-02 17:24] fahidattique55 commented on #9
Hi CrEaK,

Yes, right now It does not support FAPanelController(). I will add this feature soon.

Thanks & Regards

[2017-10-02 18:21] fahidattique55 commented on #9
Hi CrEaK,

The feature is added. Please have a look into it. Let me know in case you found any issues or you have any queries.

Thanks & Regards

[2017-10-03 10:16] CrEaK commented on #9
Thanks for the fast implementation, but now im getting weird xcode errors :D
![image](https://user-images.githubusercontent.com/513850/31120393-91f9d0ce-a834-11e7-94a3-88cf54bf3eca.png)

and when xcode compiles I am getting:
`Command failed due to signal: Segmentation fault: 11`

Everything compiles when I am removing the following part:
`let panelController = FAPanelController()`

[2017-10-04 06:01] hemangshah opened #15 "How to initialize properly?"
<img width="1051" alt="screen shot 2017-10-04 at 11 30 05 am" src="https://user-images.githubusercontent.com/3313412/31161832-7d9a3862-a8f7-11e7-9f05-6ba26ab139e9.png">

In example code, I can see this

    let rootController = FAPanelController()

But for me, this isn't working.

[2017-10-04 06:20] hemangshah commented on #9
@CrEaK , can you please check this [issue](https://github.com/fahidattique55/FAPanels/issues/15)?

[2017-10-04 06:23] hemangshah opened #16 "Example code is crashing"
This is the crashed log:

[code]

[2017-10-04 06:25] hemangshah commented on #16
<img width="1048" alt="screen shot 2017-10-04 at 11 54 40 am" src="https://user-images.githubusercontent.com/3313412/31162403-da1b3016-a8fa-11e7-878b-c975a3a4aca4.png">

[2017-10-04 06:30] fahidattique55 commented on #9
Hi CrEaK,

Welcome and Thanks for testing it. The issue here is, you are assigning a panelController as window's root controller but the panelController must have at least centerVC assigned in it.

please use this code,

let rootController = FAPanelController()

1. let mainStoryboard: UIStoryboard = UIStoryboard(name: "Main", bundle: nil)
2. let centerVC: CenterVC = mainStoryboard.instantiateViewC

[2017-10-04 06:33] fahidattique55 commented on #9
Hi hemangshah,

You are facing this issue for the same reason I just resolved above. If you want to create FApanelController from code then you have to set a center VC prior to setting the panel controller as your window's root controller.

Please feel free to ask any queries and let me know if you face any issues or you have any suggestion for FAPanels.

Thanks & Regards

[2017-10-04 06:35] hemangshah commented on #15
@fahidattique55, ̛thanks for coming up! I would like to suggest you reread my problem, as it's totally different then you're thinking. This is the only line I have written and my Xcode is crying with the above error. If you need any more inputs from my side please do let me know.

[2017-10-04 06:36] hemangshah commented on #9
@fahidattique55, let's take this discussion to mine issue as I believe, it's totally different than this. Thanks!

[2017-10-04 06:45] fahidattique55 commented on #15
Hi hemangshah,

Can you please confirm me one thing?

Are you not assigning this rootController to window's root controller ? As you said you are using this line only ?

[2017-10-04 06:48] fahidattique55 commented on #15
@hemangshah.

I think there may be problem with this because I am adding a KVO for FAPanels and If you are not setting the panelController as your window's root controller then this may cause issues as the observer is still observing and not removed.

Thats a great issue by the way. Thanks for using FAPanels and I will for sure deep dive into it. Once issue will get resolve I will let you know.

B

[2017-10-04 06:49] fahidattique55 commented on #16
@hemangshah,

Thanks for sharing the images and logs. These are helpful for diagnosing and resolving the issue. I will resolve the issue soon.

Thanks & Regards

[2017-10-04 06:50] hemangshah commented on #15
<img width="1030" alt="screen shot 2017-10-04 at 12 19 00 pm" src="https://user-images.githubusercontent.com/3313412/31163080-4d6ab6e2-a8fe-11e7-9aed-8ba8d4a664ae.png">

[2017-10-04 06:50] hemangshah commented on #15
@fahidattique55, thanks, I will check with your solution and please update me whenever you fixed this!

[2017-10-04 06:50] fahidattique55 commented on #9
@hemangshah,

:) Ok.

[2017-10-04 06:51] hemangshah commented on #15
@fahidattique55, I just tried this, and still, the issue is there.
<img width="1033" alt="screen shot 2017-10-04 at 12 21 19 pm" src="https://user-images.githubusercontent.com/3313412/31163136-8ef8c4c8-a8fe-11e7-93ce-767d53b93704.png">

[2017-10-04 06:51] fahidattique55 commented on #9
@CrEaK,

I am for now updating the status of issue as open. Please test it and let me know so that I can mark it closed.

Thanks

[2017-10-04 06:54] fahidattique55 commented on #15
@hemangshah,

Can you please verify the pod version? Which one are you running right now?

[2017-10-04 06:56] hemangshah commented on #15
@fahidattique55, I am using

    FAPanels (0.3.1)

[2017-10-04 07:01] fahidattique55 commented on #15
@hemangshah,

Please make sure you are running pod version 0.3.2. Because this feature was initially added in this pod version. Other wise I will look into other issues you just specified. I also appreciate your efforts and time for sharing the details with me. I will look into other issues soon.

Thanks

[2017-10-04 07:08] hemangshah commented on #15
@fahidattique55, Ok, thanks! Let me try installing 0.3.2

[2017-10-04 08:37] hemangshah commented on #15
@fahidattique55, I tried above version and now it's giving me this error:

[2017-10-04 08:38] hemangshah commented on #15
While type-checking expression at [somePath/AppDelegate.swift:27:22 - line:27:40] RangeText="FAPanelController()"

[2017-10-04 08:46] hemangshah commented on #15
You can replicate this issue by creating a new project in Xcode 9 and installing the same pod which you have suggested.

[2017-10-04 09:59] hemangshah commented on #15
@fahidattique55, because I need some immediate support, I have integrated  https://github.com/jonkykong/SideMenu in my project. Thanks! Looking forward to using FAPanels in future.

[2017-10-04 13:43] katunch commented on #15
Same issue here: Updated to 0.3.2 as suggested and get the error
I'm using Xcode 9 with swift 3.2 and deployment target 10.3
[code]

I think i have to move to another solution like @hemangshah did. Sorry dude..

[2017-10-04 13:49] katunch commented on #15
ok it's working with the storyboard approach but you have to set the module by hand to `FAPanels`

[2017-10-04 21:24] fahidattique55 commented on #15
@hemangshah,

Creating PanelController with code approach was introduced as people were demanding that. You could have use the storyboard approach and that is only few steps to integrate. But Its fine as you wanted some immediate solution. I'll keeping up the FAPanels up to date and looking forward for you to use it in future.

Thanks :)

[2017-10-04 21:27] fahidattique55 commented on #15
Hi katunch,

With the storyboard approach, I am not sure about why the module did not automatically update to FAPanels for you. Because It should update automatically. But yeah one may face crashes if the module is their own app target and not FAPanels. Thanks for sharing. I will look into the issues you and others are facing with the code approach.

Thanks & Regards

[2017-10-04 21:52] fahidattique55 commented on #9
@CrEaK,

The issue "Command failed due to signal: Segmentation fault: 11" has been resolved now. Please update the pod to version 0.3.3 and have a look into it. Thanks to all of you for using FAPanels and making it better. I'll keep updating FAPanels with as many features you guys want.

Thanks & Regards

[2017-10-04 21:53] fahidattique55 commented on #15
@katunch and @hemangshah ,

The issue "Command failed due to signal: Segmentation fault: 11" has been resolved now. Please update the pod to version 0.3.3 and have a look into it. Thanks to all of you for using FAPanels and making it better. I'll keep updating FAPanels with as many features you guys want.

Thanks & Regards

[2017-10-04 21:54] #9 closed

[2017-10-04 21:54] #15 closed

[2017-10-04 21:54] #16 closed

[2017-10-05 04:52] hemangshah commented on #16
@fahidattique55 You have fixed this?

[2017-10-05 08:57] CrEaK commented on #9
Sorry, I didnt find the time yesterday to test your recommendations. Thanks for your fast help! I will try the new version later today :)

Thank you for your work! :+1:

[2017-10-05 15:36] djaygit opened #17 "Could not cast value of type 'UIViewController' to FAPanels"
let panel = AppStoryboard.Dashboard.instance.instantiateViewController(withIdentifier: "fapanel") as! FAPanelController
                let center = AppStoryboard.Dashboard.instance.instantiateViewController(withIdentifier: "tabbarnav")
                let left = AppStoryboard.Drawer.instance.instantiateViewController(withIdentifier: "leftdrawervc")
                panel.center(center).left(left)

[2017-10-05 15:39] fahidattique55 commented on #17
Hi djaygit,

Please uncheck the inherit module from target if you are using FAPanels via cocoapods. Set the module name as FAPanels and It should not be the name of your app target.

Thanks & Regards

[2017-10-05 15:39] djaygit commented on #17
well i tried this and worked

let panel = FAPanelController()

[2017-10-05 15:40] #17 closed

[2017-10-05 15:40] fahidattique55 commented on #17
Yes, you can also use the code approach.

[2017-10-06 05:28] CrEaK commented on #9
Its now working perfectly! Thanks!

[2017-10-19 19:03] Viher-Sano opened #18 "Problem with closed menu."
When I call _openCenter(animated: true)_, the menu closes without animation and  the animation is opened broken.
Please add a method to the _closeMenu()_ that would work like something the user clicks on the central view.

![viber image](https://user-images.githubusercontent.com/7523104/31789011-55b56d8e-b519-11e7-9a51-8bf6c864ceee.jpg)

[2017-10-19 19:54] fahidattique55 commented on #18
Hi Viher-Sano,

I did not get your point of consideration. Can you please provide me some more info so that I can diagnose it fully and then I can resolve the issue you are facing ?

[2017-10-19 20:09] Viher-Sano commented on #18
I need to add a button on the left menu which would close it. I used this method for openCenter(animated: true). But when you click on the menu button closed without animation. And with the subsequent calls the menu animation was not smooth as it was before calling the method openCenter(animated: true).
Correct it please, if possible, and add the method to closeMenu(animated: true).

[2017-10-25 07:10] Viher-Sano opened #19 "Problem with closed menu."
@fahidattique55
I need to add a button on the left menu which would close it. I used this method for _**openCenter(animated: true)**_. But when you click on the menu button closed without animation. And with the subsequent calls the menu animation was not smooth as it was before calling the method _**openCenter(animated: true)**_.
Correct it please, if possible, and add the method to _**closeMenu(

[2017-10-25 07:10] #18 closed

[2017-10-25 14:20] xylys opened #20 "Can't remove panel"
when I try to remove a panel:

`panel!.left(nil)`

I get the following error:

[2017-10-25 15:39] fahidattique55 commented on #20
Hi xylys,

I have fixed the issue. Please update the pod to version "0.3.4".

Thanks & Regards

[2017-10-25 15:43] fahidattique55 commented on #19
@Viher-Sano

According to you, openCenter(animated: true) is working fine right?  Do you want openCenter(animated: false) to work smooth as well ?

Can you share a sample project so that I can look into it ?

[2017-10-25 16:03] Viher-Sano commented on #19
The project is your example, in which the method of **openCenter(animated: true)** is called instead of the transitions(didSelectRowAt indexPath). At the same time menu closes without animation.

[Video](https://drive.google.com/open?id=0B2PM85mu-bKrc3FuQ1Y4Q3NPaVU)

[2017-10-25 16:33] fahidattique55 commented on #19
@Viher-Sano

Thanks for reporting the issue. It was a great catch. Although the relevant methods were implemented already but was not proper mentioned any where. openCenter(animated:) was for left panel position on back and slideLeftPanelOut(animated:) function was for left panel position on top.

If you would have call this function you won't have caught the issue. But I have added a generic func

[2017-10-25 16:34] #19 closed

[2017-10-25 16:34] #20 closed

[2017-10-25 16:53] Viher-Sano commented on #19
I tested it. Everything works.
Thank you also!

[2017-10-26 16:41] UzumakiAlfredo opened #21 "How close side menu and push to target ViewController from center viewController?"
Hi there.

I want to tap a button on side menu then close the side menu and push to a new viewController from center viewController.

I could't set a delegate from center viewController to side menu class so I used NotificationCenter!

NotificationCenter works and I can close the side menu but pushing to new viewController programically does not work !

present new class modally works though.

Tha

[2017-10-31 11:56] xylys commented on #20
Works like a charm!

Thanks and keep up the good work!!

[2017-11-03 19:54] fahidattique55 commented on #21
Hi @UzumakiAlfredo,

Can you please confirm that your centre viewController is in NavigationController ? If its in a NavigationController then it should work.

Thanks & Regards

[2017-11-04 06:35] ak0815 opened #22 "iPhone X Support"
Hi, do you plan this?

++
Andy

[2017-11-04 06:37] #22 closed

[2017-11-05 05:54] #21 closed

[2017-12-08 15:44] Viher-Sano opened #23 "How disable gesture?"
How disable gesture in single view controller?

[2017-12-09 20:26] fahidattique55 commented on #23
Hi @Viher-Sano,

If you don't want to use Pan Gesture then you can disable it from FAPanelConfigurations using "canRecognizePanGesture". Just set this property to false.

Thanks & Regards

[2017-12-09 20:26] #23 closed

[2017-12-09 20:53] Viher-Sano commented on #23
Thanks!

[2017-12-21 06:25] GilisHugo opened #24 "About step 2"
I've already set the root window as FAPanel controller.
But when i'm trying to do step 2,
i can't let rootController: FAPanelController = window?.rootViewController as! FAPanelController
because FAPanelController is a undeclared type.

I'm pretty like this pod and want to use it in my project.
Please let me know if there's any solution.
Best regard

[2017-12-21 20:16] fahidattique55 commented on #24
@GilisHugo,

You are mixing here the two mechanisms of using FAPanels.

## First Way

If you have already set the root window as FAPanel controller from **storyboard.** then you won't face any issue in,

`let rootController: FAPanelController = window?.rootViewController as! FAPanelController`

## Second Way

**Create a FAPanelController and set it as root of your window**

`let rootController = F

[2017-12-22 18:23] theMoe opened #25 "Swift 3 @objc inference in Swift 4 mode is deprecated"
Xcode shows me this warning:

`The use of Swift 3 @objc inference in Swift 4 mode is deprecated. Please address deprecated @objc inference warnings, test your code with “Use of deprecated Swift 3 @objc inference” logging enabled, and then disable inference by changing the "Swift 3 @objc Inference" build setting to "Default" for the "FAPanel" target.
 `
Can you fix it?

[2017-12-22 18:28] theMoe commented on #24
I have the same error. If I add

`import FAPlane`

to AppDelegate.swift, I don't see the error anymore. But it doesn't work.

[2017-12-23 08:48] fahidattique55 commented on #24
@theMoe

Can you please add some details about the issue you are facing with FAPanels? That would be helpful for me to diagnose.

Thanks

[2017-12-23 10:36] fahidattique55 commented on #25
@theMoe

Issue is resolved. Please have a look into updated pod.

https://cocoapods.org/pods/FAPanels

[2017-12-23 13:32] theMoe commented on #25
Perfect! Thanks! I will try it.

[2017-12-23 13:33] theMoe commented on #24
@fahidattique55 I think import in AppDelegate is not the right way. The problem is, that Xcode doesn't provide the FAPaneController, when I try it to add it to a ViewController.

[2018-01-18 07:44] chinmaykdas opened #26 "Orientation in iPad"
I have set the `rightPanelPosition = .front` and if I rotate the device with the left panel visible, I can see the panel goes to back automatically. The centre view controller moves to the right.

[2018-02-02 18:32] ibolat38 commented on #24
@fahidattique55 @theMoe @GilisHugo  Hello everyone, I have faced this problem. First I added 'FAPanles' on Cocoapods and then i just want to use 'leftMenuVC' ... On my project there is a ViewController as a 'UIViewController'.. I deleted it and I added 'FAPanelController' as a 'UIViewController' and i set it as a root.. but its still gives me error on Appdelegate < [here error](https://i.hizliresi

[2018-02-02 19:55] #25 closed

[2018-02-02 19:56] fahidattique55 commented on #26
@chinmaykdas

Can you please share the steps or a video for the issue ? It will help me to diagnose the issue.

Thanks

[2018-02-02 19:58] fahidattique55 commented on #24
@ibolat38

Please add `import FAPanels` the FAPanels framework in the file you are using FAPanels.

[2018-02-02 19:58] #24 closed

[2018-02-03 11:56] ibolat38 commented on #24
@fahidattique55 I already add it but it still gives me same error. < [here FAPanelController](https://i.hizliresim.com/VrYXjn.png) >

[2018-02-16 21:18] sMaq commented on #24
hi @fahidattique55 i am facing issue with your library. i have to use this side drawer after login screen so how can i use your side drawer withou appdelegate ? by without assigning it as a root view controller? any idea ?

[2018-03-09 05:43] JayeshPoriya opened #27 "FAPanel use from other viewcontroller"
Hi,
This is not an issue, I need your help.
How can I use FAPanel from another view controller. I don't want to use FAPanel from appDelegate.
I have Signin View Controller after successfully signin I want to use FAPanel.
I already set root view controller is signin view controller.
How can I use FAPanels after user signin? I want to use FAPanel in my signin view controller.

my view controller nam

[2018-03-10 13:07] #26 closed

[2018-03-10 13:25] fahidattique55 commented on #27
@JayeshPoriya

## No. 1

you can use FAPanels from a UIViewController but for that you need to understand working of FAPanels.

### Working

1. Create your controllers (Centre, Left and Right)
2. Create a new FAPanel controller and assign the above controllers to it
3. Set the newly created FAPanels controller as your root window controller

## Here is how it should be implemented

### Create the

[2018-03-10 13:25] fahidattique55 commented on #27
Please let me know in case you need any further help. Thanks for using FAPanels 👍

[2018-03-12 06:02] Hamza-Brainplow commented on #27
Hi, i'm trying to use FAPanels. i have installed pods and in my root view controller given it class to FAPanelController,  and written the code in app delegate as u have said but getting this error "Use of undeclared type 'FAPanelController'".How i can fix this? Another thing is that how can i access the same panel from another view controller? Is this panel will run fine if i want LeftMenu and ta

[2018-03-12 06:56] fahidattique55 commented on #27
# No.1

Import the FAPanles framework in your app delegate class.

# No.2

You can simply access by panel property of any UIViewController.

i.e : self.panel

[2018-03-12 09:05] JayeshPoriya commented on #27
@fahidattique55
Thank you for replay!
Now it's working.

[2018-03-12 09:14] #27 closed

[2018-03-12 14:22] Hamza-Brainplow opened #28 "Import file issue"
Hi, i'm importing the FAPanels but it is showing an error that no such module. I have properly installed the pods but it is showing such issue.
Second one i want to ask that in my centerVC how can i open LeftFAPanel in click of button and same with other View controllers just on click of a button?
It would be more better if u have a video tutorial also.

[2018-03-13 05:37] Hamza-Brainplow commented on #28
Hi, i'm facing an issue in appdelegate.swift class. My code in appdelegate class is this,
 func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?) -> Bool {
        // Override point for customization after application launch.

        let mainStoryboard: UIStoryboard = UIStoryboard(name: "Main", bundle: nil)

        let l

[2018-03-13 06:50] Hamza-Brainplow commented on #28
I have place a tab bar as my centralVC it open the first tab bar item but doesn't show tab bar at the bottom.

[2018-03-13 18:09] fahidattique55 commented on #28
@Hamza-Brainplow

# No.1

If you have installed the pods correctly and imported in the file you are using FAPanels, then just try to build the project with **Command + b** because some times the newly installed pods are in Red color under Pods in your workspace. Just give it a try and let me know in case you face issue again.

# No.2

It would be more better if u have a video tutorial also.

Pleas

[2018-03-14 05:09] Hamza-Brainplow commented on #28
Hi, thanks for ur response bro, i have tried your code for opening the Left FAPanel on click of a button. This is my second view controller in which i'm trying to open it but nothing is happening on click of button. This is my viewDidLoad method,
`override func viewDidLoad() {
        super.viewDidLoad()
        self.navigationController?.isNavigationBarHidden = true

        panel?.configs = FAPa

[2018-03-19 19:34] fahidattique55 commented on #28
@Hamza-Brainplow

**There are two possibilities,**

### No.1

Either the leftPanelVC is nil

### No.2

Or the `panel` you are trying to get for using `openLeft(animated: true)` is nil

[2018-03-22 08:20] wizard699 opened #29 "Step of installation into an existing project"
It's possibile to describe, step by step, the process to install and import into an existing project your fantastic FAPanels?

I've installed POD ..... ok.
But then which files I have to import in my project, starting for the projects FAPanels files?

Thanks in advance

[2018-04-02 10:50] pvn-anh-pham opened #30 "Add sidemenu callback"
Hi!
This is very cool library and it was integrated into my application. That's great!
However, I would like to know when the side menu was closed or opened. For ex: The left menu contain so feature, that I dont want user to access right now, so everytime user try to open the menu, I want to notify user about that and recommend user to upgrade to paid version...
That is very handy to know when use

[2018-05-08 03:12] parth0072 opened #31 "how to reload rootviewcontroller?"
Hey

I am using fapanels in my application it's working fine in my app.
but I implemented the localization in my app for localization we need to reload rootview controller to change the language without close the app.
I tried multiple ways to reload rootview controller but it's not working.

Any idea? please let me know if you have any idea of this??

Thanks :)

[2018-05-13 13:03] sedwo opened #32 "Splitview"
It would be most ideal if this control would also support a splitview configuration, where multiple panels are in view and active at the same time.  Similar to JASidePanels, but of course in Swift.

As my requirement is to have sliding panels on an iPad in Portrait mode, but static splitview of those panels when in Landscape mode.

Any future consideration of such a feature?

[2018-05-31 13:08] Shamsiddin opened #33 "Change dark overlay opacity with animation"
Hi,
I configured `FAPanel` to show dark overlay when left panel position is front
`configs.showDarkOverlayUnderLeftPanelOnTop = true`

But this overlay view appears/disappears without animation. I want to animate it's opacity depending on the left panel's distance from the edge (or while moving left panel with the finger).

How can I achieve this?
Thanks.

[2018-06-01 03:04] Shamsiddin commented on #33
Hi @SeNeO
I used this code snippet:

[code]

But darkOverlayView appearing/disappearing immediately(without opacity animation) when you leave your finger. Is it possible to make it appear/disappear it with fade animation (smoothly)?

[2018-06-01 10:34] usmantarar51 commented on #33
Hi @Shamsiddin i appreciate this suggestion you made, working on it!

[2018-06-01 12:25] Shamsiddin opened #34 "Shadow not showing for right side menu"
Every thing's OK with the left side menu's shadow, but there isn't shadow for right side menu.
I tried below code, and seems it only works for left side:
`rootController.configs.shadowOppacity = 0.15`

Shifting shadow offset to the left also didn't help:
`rootController.configs.shadowOffset = CGSize(width: -5, height: 0)`

Any suggestions to show shadow for the left menu too?

[2018-06-06 15:35] sedwo commented on #34
Try my repo:  https://github.com/sedwo/FAPanels

[2018-06-19 08:06] fahidattique55 commented on #32
@sedwo

Thank you for the suggestion and I like the idea. I would like to enhance FAPanels with this.

### Requirements Required

- Can you please provide me some of use cases and their details so that I can test those scenarios as well ?

[2018-06-19 08:08] fahidattique55 commented on #28
@Hamza-Brainplow

Are you able to diagnose the problem ?

[2018-06-19 08:10] fahidattique55 commented on #29
@wizard699

Thank you for using FAPanels. Please follow this [step by step](https://github.com/fahidattique55/FAPanels#usage-3) guide.

[2018-06-19 08:10] #29 closed

[2018-06-19 08:12] fahidattique55 commented on #31
@parth0072

The simplest way to do this is register for an observer in your root class and when you change the localisation in-app then fire a notification and the observer will trigger a function call. You can add your business logic there.

[2018-06-19 08:12] #31 closed

[2018-06-19 08:21] fahidattique55 commented on #30
@pvn-anh-pham

Thank you for the appreciation. You can handle this situation with the `FAPanelStateDelegate`. It gives you access when the left, right and centre panel has became active or not.

[2018-06-19 08:21] #30 closed

[2018-06-19 13:39] sedwo commented on #32
Hi @fahidattique55 ,

A simple use case example to clone can be the iOS `Settings` app.

![image](https://user-images.githubusercontent.com/1434449/41600295-89eb242e-73a3-11e8-9ca1-8c92dc4092f4.png)

The power of a customized UI SplitView with _FAPanels_ would be the ability to control these view configurations any which way a user might want.  Portrait or Landscape and regardless of device, to be

[2018-07-27 13:31] mekalasiva opened #35 "Central Panel Need to hide the Menu ICONS"

[2018-07-27 13:32] mekalasiva commented on #35
How to hide the Central Panel choose hide the Left Menu and Right Menu icons.

[2018-07-27 14:10] fahidattique55 commented on #35
Hi @mekalasiva

Just call the `openCenter(animated:Bool)` to open the existing centre panel.

[2018-07-27 14:13] fahidattique55 commented on #35
or if you want to change it then use below code,

[code]

[2018-07-27 14:14] fahidattique55 commented on #28
Closing issue as not activity response from @Hamza-Brainplow

[2018-07-27 14:14] #28 closed

[2018-07-27 14:15] fahidattique55 commented on #33
@usmantarar51

Can you please tell me how much time you anticipate more for this feature to be integrated in FAPanels ?

[2018-07-27 14:15] #35 closed

[2018-07-28 21:55] usmantarar51 commented on #33
Will give you a update soon.

[2018-07-29 05:06] Shamsiddin opened #36 "Ability to close side panel by swiping sidepanel itself too."
In current condition of the lib it is inpossible to close side panel by swiping it.
In order to close it you should tap, or swipe the grayed area only (look at the pic to see swipable and not swipable areas).
From UX point of view it isn't convenient to swipe only this grayed area to close it.
I HIGHLY recommend You to integrate this closing ability of side panel by swiping the entire screen (not

[2018-07-30 06:12] mekalasiva commented on #35
What is homeVC?is it any class method name?

[2018-07-30 07:47] fahidattique55 commented on #35
Any centre controller you want to assign to centre panel.

[2018-07-30 07:47] fahidattique55 commented on #35
Either a UIViewController, UINavigationController or a UITabBarController etc.

[2018-08-02 11:16] waelsaad opened #37 "Hi, this is really nice, great effort. Add some Shadow please"
Hi,

Thank you for sharing, its great, I am just wondering if you can add some shadow please and scaling feature similar to this:-

https://github.com/jonkykong/SideMenu

[2018-08-02 12:53] waelsaad opened #38 "Xcode beta 5 Swift 4.2 - iOS 10.2 platform produces a crash"
Hi,

After creating a simple project, simply by referencing the framework using Carthage I am getting a crash, any ideas please?

dyld: Symbol not found: __T0BOWV
  Referenced from: /Users/r00tdvd/Library/Developer/CoreSimulator/Devices/245706A5-FD39-4288-B04D-202402D21E68/data/Containers/Bundle/Application/4E801E8F-F71E-4583-9816-52F718E68BBA/SavingGrace.app/Frameworks/FAPanel.framework/FAPanel

[2018-08-16 06:45] jerrypm opened #39 "How to disble side menu in another viewController ?"
I try to use setNavigationController in next viewController, I want to remove FAPanels in there, how can I fix it?

let vc = HomeViewController()
self.navigationController?.setViewControllers([vc], animated: true)

[2018-08-22 20:18] KingOlami opened #40 "uinavigation."
is it possible to implement it on a uiviewcontroller without using a navigation viewcontroller?

[2018-08-23 07:43] Kitty555 opened #41 "not found FAPanelController"
![error1](https://user-images.githubusercontent.com/30800688/44511863-be040b80-a6f3-11e8-8352-3d5de8c4d360.png)

Your module is very good. I think this is my fail. Please help me.
Thank you.

[2018-08-24 00:35] fahidattique55 commented on #39
@jerrypm

Need some more information about what your controller hierarchy is ?

How you are using FAPanels ? If its assigned to root view controller of window then you need to change the root controller of window. But it would be better if you can share some more details.

Thanks & Regards

[2018-08-24 00:36] fahidattique55 commented on #40
@KingOlami

Yes. You don't need to use it with navigation controller. I mean its up to you how you are going to manage the controllers hierarchy.

[2018-08-24 00:37] #40 closed

[2018-08-24 00:38] fahidattique55 commented on #41
@Kitty555

You forgot to import FAPanel in the App Delegate file. Please try to add import line on top and then build the project.

[2018-08-24 00:40] fahidattique55 commented on #33
I have started working on this one as I have been receiving this feature requests from a lot of people. Lets do it 👍

[2018-09-25 07:44] sunkumar opened #42 "issues in swift v 4.2"
Hi Team,

I have updated the Xcode and now running same code on swift version 4.2, then it is not working on Swift version 4.2, But us is woking fine with same Xcode with lower version of swift.

Thanks

[2018-09-29 18:27] fahidattique55 commented on #42
@sunkumar

I have updated the pod. Try updating to new version.

Thanks

[2018-09-29 18:27] #42 closed

[2018-09-29 18:28] fahidattique55 commented on #38
Issue is fixed in newer version of pod. Please try with updated version.

[2018-09-29 18:28] #38 closed

[2018-10-09 10:19] dfaizmaulana opened #43 "Close left panel issue"
Hi thanks for this nice library, its really helpful for n00b like me.

I try to close left panel from left panel view controller by using `panel?.closeLeft()`
What i expect is left panel will be closed with animation slide out, but what i get is only left panel closed without any slide out animation.
Is there any configuration that i do incorrectly?
<img width="443" alt="screen shot 2018-10-09 at

[2018-10-09 10:20] fahidattique55 commented on #43
@dfaizmaulana

You need to call openCentre function. Let me know if it works otherwise I will share some code example with you.

Thanks & regards

[2018-10-10 02:05] dfaizmaulana commented on #43
@fahidattique55

I tried to call `panel?.openCenter(animated: true)` as well, but still no animation happen.
I'm just wondering if `panel?.closeLeft()` should be call from center panel rather than on left panel, because when i try to call `panel?.openLeft(animated: true)` from center panel the animation is work.

[2018-10-12 02:17] fahidattique55 commented on #43
@dfaizmaulana

I got the issue you are facing. There are two ways to hide the left panel.

1. Change the center panel animated
2. `slideLeftPanelOut` in the `FAPanel+Animation.swift` file

The second way is a function but internal for now. So I will push a new update to give the option you want. Otherwise if you will tap on centre panel the left panel will get close with animation. Or if you will

[2018-10-12 02:18] fahidattique55 opened #44 "Give an option to close left panel only."
For initial requirements see https://github.com/fahidattique55/FAPanels/issues/43.

[2018-10-18 21:10] sedwo opened #45 "SidePanel gap after rotation."
I configure the panels like this:
[code]

And exhibit this:

![image](https://user-images.githubusercontent.com/1434449/47184393-8b901c80-d2f8-11e8-986b-a6d1f8eaf48f.png)

Video here:

[sidePanelGap.mp4.zip](https://github.com/fahidattique55/FAPanels/files/2493634/sidePanelGap.mp4.zip)

[2018-10-21 15:19] MahmoudKhaled opened #46 "How to open FAPAnnel inside ViewController not in app Delegate ??"
i set it in app delegate already when the user open app for the second time but when he open it for first time i want to open main screen from this button action and i git this error

<img width="1184" alt="screen shot 2018-10-21 at 5 14 53 pm" src="https://user-images.githubusercontent.com/10100880/47268747-0b1a2780-d555-11e8-9325-055ee5f4a794.png">

[2018-10-24 07:37] penpens commented on #46
I'm stuck too...

[2018-11-05 07:36] penpens opened #47 "Internal protection"
I'm a n00bie in Swift and Xcode, and i can't understand the problem...
I can't call that function because is declared "internal", i tried to remove the internal declaration, but nothing.
Could someone help me?

<img width="1440" alt="schermata 2018-11-05 alle 08 31 36" src="https://user-images.githubusercontent.com/37479510/47984101-cbffe080-e0d5-11e8-979e-e61236d88e58.png">

[2018-11-07 12:26] Sergozh opened #48 "[Help] How to set drop shadow on center controller?"
Please give an advice how to set drop shadow on center controller when it appears above left panel.
Thank you!

[2018-11-07 14:45] fahidattique55 commented on #48
Can you share more details what you actually looking for? Shadow for left panel is already there.

[2018-11-07 15:00] Sergozh commented on #48
I'm trying to achieve something like this. When center panel higher than left.
![img_4872](https://user-images.githubusercontent.com/1511211/48139200-8d714e00-e2ae-11e8-8209-e12ea7f86b4c.jpg)

[2018-11-07 15:01] Sergozh commented on #48
And how I can reload center panel `ViewController` when left is opened without closing it?

[2018-11-07 15:06] fahidattique55 commented on #48
I think the shadow is not there for this scenario. If you can implement this feature and make a merge request then it will be appreciated as I don't get enough time to add new features in this library but i will add a lot of features in it.

[2018-11-07 15:07] fahidattique55 commented on #48
Reload means ?

[2018-11-07 15:11] Sergozh commented on #48
For example some data changes from left panel needs to reload center panel so if I call `panel?.center(myNewCenterController)` it reloads with animation and left panel closes. The question is how to change center panel without closing left panel?

[2018-11-07 15:30] fahidattique55 commented on #48
You can do it using NSNotificationCenter.

[2018-11-07 15:31] Sergozh commented on #48
Done already. Thanks. Just looked for another options.

[2018-11-07 18:48] sedwo commented on #32
Hi @fahidattique55, any planned progress on this?

[2018-11-08 01:09] fahidattique55 commented on #32
Hey @sedwo,

I am a little busy in other stuff and i am not getting enough time to work on any feature of this library. I have planned them but I am not sure how much time you have to wait for it. Apology for that but you will see this feature in FAPanels soon.

Thanks

[2018-11-08 01:28] fahidattique55 commented on #47
@penpens

Please use this code to get the position of panel.
[code]

[2018-11-08 01:29] #46 closed

[2018-11-08 01:30] #41 closed

[2018-11-08 01:30] #39 closed

[2018-11-08 09:50] penpens commented on #47
It gives me nil while wrapping an Optional value at:
`rootController.rightPanelPosition = .front`

[2018-11-08 09:51] fahidattique55 commented on #47
It means your root controller is getting nil some how. Can you share the chunk of code specially the code where you are initialising the `FAPanelController`.

[2018-11-08 09:52] fahidattique55 commented on #47
Are you initialising the rootVC with storyboard or code ?

[2018-11-08 10:01] penpens commented on #47
Do you mean this? Sorry I'm new in the iOS world
[code]

[2018-11-08 10:06] fahidattique55 commented on #47
[code]

The above code seems fine and I can see you are using FAPanelController using coding and not storyboard. Then you are presenting a new controller. Are you accessing the rootController in the presented controller ?

I think try accessing the current panel from the property self.panel which is optional and handle the optional validation.

[2018-11-08 10:07] fahidattique55 commented on #47
if you want to access the panel configurations then the controller must be a FAPanelController. For some how you are accessing the rootController which is not a panel.

[2018-11-08 10:12] penpens commented on #47
I trying with code and storyboard
I attach some screens, I just took your classes and added to my project (with the library obv)
So everything should be like your sample project

<img width="286" alt="schermata 2018-11-08 alle 11 07 47" src="https://user-images.githubusercontent.com/37479510/48191865-8dbd2800-e346-11e8-911b-da2ba83301e2.png">

[code]
[code]

[2018-11-08 10:13] penpens commented on #47
<img width="1440" alt="schermata 2018-11-08 alle 11 10 21" src="https://user-images.githubusercontent.com/37479510/48192133-3c616880-e347-11e8-9bf6-673309dfddd6.png">

[2018-11-14 07:35] fahidattique55 commented on #45
@sedwo

I am unable to generate this issue. How did you generated this? Can you share what configs are you using for panel ?

[2018-11-21 04:47] Hems3112 commented on #48
@Sergozh  can you guide me how can you set your custom view in center view?

I changed code in centervc.swift and also hide navigation bar from navigation controller. but still i get navigationbar on top.
![screenshot 2018-11-21 at 10 17 22 am](https://user-images.githubusercontent.com/40256493/48819578-a847c600-ed76-11e8-85a3-6995ffd21242.png)

        panel!.configs = FAPanelConfigurations()

[2018-11-21 05:55] fahidattique55 commented on #48
This line `panel!.navigationController?.setNavigationBarHidden(true, animated: false)` is not correct.

As the Panel is just a container of all your centre, left and right controllers. So you need to hide navigation bar of centre controller and not the panel controller.

try using this, `navigationController?.setNavigationBarHidden(true, animated: false)` in view will appear of your centre control

[2018-11-28 06:25] GokmenAkar opened #50 "I can't navigate user to desired viewcontroller"
First I must thank you for this elegant framework. The panel works fine, I can travel between viewControllers on the left menu, but the problem (or my struggle) starts when I try to navigate the user from the opened viewController to another viewController. I want to use the `present` method but I can't make it work.  When I use the `panel!.center(centerVC)` it presents weirdly(shown below).

![si

[2018-12-04 00:46] isaacraja15 opened #51 "How to get topview navigation in Appdelegate ?"
Hi Bro,
I try your Menu Its working Good . Great Job
I have one Problem . I need top view controller / Current View Controller how to i get ?
[code]
I try this method its showing
<menu.FAPanelController: 0x102014e00>
i need Current View Controller not this one
Thank you
![screenshot 2018-12-04 at 6 15 59 am](https://user-images.githubusercontent.com/44321070/49410728-197e7480-f78c-11e8-911d-a4eae8

[2018-12-04 01:33] fahidattique55 commented on #51
Hey, Thanks.

You can use following function of FAPanels but you need to update it little bit.

[code]

To get the topViewController just return the root in above function in last line.

[2018-12-04 07:16] isaacraja15 commented on #51
oh great , thanks bro, But what parameter i need to pass ?
i'm using bluetooth BLE background service so some function need view identification for reload that view and pass the data to the view .

below the code is not BLE Module . i like your menu so i need to implement in my project so i try in simple menu project . could you help me to get current viewcontroller ?

[menu.zip](https://github.co

[2018-12-04 07:34] isaacraja15 commented on #51
[code]
i just try this method but is showing same

qq
<menu.FAPanelController: 0x102811c00>
true
Executing block after changing center panelVC From Left Menu
rr
qq
<menu.FAPanelController: 0x102811c00>
true
rr
qq
<menu.FAPanelController: 0x102811c00>
true

[2018-12-04 07:35] fahidattique55 commented on #51
when you reach to FAPanelController try getting its centre view controller and check its type. I think you need that.

[2018-12-04 08:00] isaacraja15 commented on #51
are you saying need to pass centre view controller ?
[code]

[2019-01-07 20:10] filsv opened #52 "Destroy left View Controller after close swipe?"
Hi, after first open of left panel probably it's cached. So after second opening of left panel viewDidLoad, viewDidAppear, viewWillAppear, etc.. not called, please help.

[2019-01-19 07:18] jamfly opened #53 "pushing viewController leftMenu cannot work"
Hi as title

I follow the example `_ = panel!.center(myVC)`

It turns out that the center viewController is pushed right, but the leftMenu is not working...

I cannot open leftMenu even called `panel?.openLeft(animated: true)`
I also print `panel?.left`, and I can get the right menuVC, just cannot use it

do I need to extension other transition stuff?

Here is my setUp inside appDelegate

[code]

[2019-02-03 11:00] voldzi commented on #4
I did exact copy of your demo...and still have the same issue :-(

[2019-02-03 15:14] fahidattique55 commented on #4
@voldzi Are you using it via code or via storyboard? Also show some code snippets or screenshots so I can help you to diagnose it.

Thanks

[2019-02-06 22:40] robertcrabtree opened #54 "Does not honor center view controller supportedInterfaceOrientations property"
### Issue:

I found an issue where the panel controller does not check the `supportedInterfaceOrientations` property of the centered view controller when rotating. Check out the documentation for `supportedInterfaceOrientations` here: https://developer.apple.com/documentation/uikit/uiviewcontroller/1621435-supportedinterfaceorientations

Let's say you set the panel controller's center view control

[2019-02-14 11:42] PrashantKT opened #55 "ViewDidLoad in leftview will cause bug"
I have written following line in view did load method of left menu vc

[code]

Now Press on drawer not opening the left menu first time.
and on second time no animation is coming

and then after everything working as usual

I have also tried the same thing in sample code

[2019-02-27 07:51] dasSoumen opened #56 "Open right panel from the edge of the screen not working (When rightPanelPosition = .front)"
When the right panel is on the front in that case pan from the edge is not working.

[2019-03-15 11:15] McExco commented on #4
I solved this problem by uncheck "Inherit from target" box, and specify Module = FAPanels manually.

[2019-03-21 01:34] fahidattique55 opened #57 "Test"
#55

[2019-03-21 01:53] #57 closed

[2019-04-02 11:17] ghimireprashant opened #58 "UITabBarController ?"
can you please add demo with UITabBarController..

[2019-04-07 11:23] Piyush08 opened #59 "How to push View when any option selected from menu?"
Hello,
Can you add example for this? I can't see any option to push from menu.

Thank you,

[2019-04-09 11:58] QasimnaveedJem opened #60 "Integration with Swift 5"
SWIFT_VERSION '5.0' is unsupported, supported versions are: 3.0, 4.0, 4.2. (in target 'FAPanels')
I have just added Swift 5 toolchain in xcode 10.1

[2019-04-10 05:03] QasimnaveedJem commented on #60
@fahidattique55
I have updated pod to version 1.0.3. i am still facing the same issue

in my pod file "pod 'FAPanels', '~> 1.0.3'"

![Screen Shot 2019-04-10 at 9 57 08 AM](https://user-images.githubusercontent.com/49440684/55852705-7abdb680-5b77-11e9-9db7-338329c4bdce.png)
![Screen Shot 2019-04-10 at 10 01 19 AM](https://user-images.githubusercontent.com/49440684/55852756-a2ad1a00-5b77-11e9-8ff1-4

[2019-04-11 06:44] fahidattique55 opened #61 "New Design for Video Call Demo"

[2019-04-11 06:46] fahidattique55 opened #62 "API for Video Call Demo"

[2019-04-11 06:46] fahidattique55 commented on #62
#61

[2019-04-11 07:05] fahidattique55 commented on #61
![seeFullHistory@3x](https://user-images.githubusercontent.com/12518061/55937272-285dc200-5c6b-11e9-963f-31432a273b21.png)

Yahoo

[2019-04-11 07:22] fahidattique55 opened #63 "French Language"

[2019-04-11 07:26] fahidattique55 opened #64 "Need Localization file for French Language"

[2019-04-11 07:26] fahidattique55 commented on #64
#63

[2019-04-11 14:04] ratala1 commented on #27
@JayeshPoriya  @fahidattique55  i have tried the above approach. but i keep getting the following error
`'NSInternalInconsistencyException', reason: 'Could not load NIB in bundle: 'NSBundle(loaded)' with name 'HomeViewController'`

the labels are properly set. i even deleted the file and created it again.

[2019-04-18 12:06] riley-usagi opened #65 "Center panel? What is it? For what?"
I don't get it from readme.

[2019-04-24 13:15] huanglins commented on #33
Is it ready for use？

[2019-04-28 17:07] voldzi commented on #4
Thanks - it helps too!

[2019-05-07 05:20] fahidattique55 commented on #65
What actually you are looking for?

[2019-05-07 05:20] #63 closed

[2019-05-07 05:22] fahidattique55 commented on #60
Try with the following code only. Remove the 1.0.3

[2019-05-13 14:37] isaacraja15 opened #66 "Username Not change when i logout and login Again different user"
Hi Bro,

I try your Pod in my project. i have one Question.

Im using username and Profile pic in menu top view using userdefault. when i start app user name working fine but when i logout and login another user but the menu still showing old user name. Did you add any cache for menu ? Kindly Help me.
![Screenshot 2019-05-13 at 7 57 44 PM](https://user-images.githubusercontent.com/44321070/5762990

[2019-06-13 04:47] LongNguyenPTIT commented on #46
How can do it ?

[2019-07-05 10:54] Gajalakshmi94 commented on #59
Same issue , I too have faced.Please share the possible solution to solve this issue

[2019-07-26 10:07] jerrychong25 commented on #46
@MahmoudKhaled @penpens @fahidattique55

Same issue here, after settings root window controller class as **FAPanelController**, it can successfully open in AppDelegate first time.

**AppDelegate Code:**
[code]

However, when I open again for second time in **UIViewController**, it will failed with **Thread 1: signal SIGABRT** error, as per screenshot below:
![Screenshot 2019-07-26 at 6 02 44 PM](h

[2019-07-26 10:13] jerrychong25 commented on #46
Found the solution accidentally.

Change from

`let rootController: FAPanelController = appDelegate?.window?.rootViewController as! FAPanelController`

to

`let rootController = FAPanelController()`

Then it will works successfully.

[2019-07-26 10:26] jerrychong25 commented on #60
**pod 'FAPanels'** is working on **Xcode 10.**2

[2019-07-26 10:26] jerrychong25 commented on #27
Thanks! This is useful.

[2019-07-31 07:51] jerrychong25 opened #67 "Left side menu right slide will open WebView website own side menu as well?"
Hi all,

I would like to add FAPanels Left Side Menu into my iOS app, which already have WebView (Loaded with a website) in the app.

After added successfully, I tried to right slide from screen, as per below:
![Screenshot 2019-07-31 at 3 40 53 PM](https://user-images.githubusercontent.com/15714095/62193448-585fdb00-b3aa-11e9-8d9c-a89293910ab4.png)

In the end, it will trigger FA Panels left side

[2019-08-02 15:57] QasimnaveedJem commented on #60
thanks for  your email
actually i moved from that project and got busy so that i can't reply

On Fri, Jul 26, 2019 at 3:26 PM Jerry Chong <notifications@github.com>
wrote:

[2019-09-24 12:37] sw-tt-anjalibhimani commented on #52
Hi, Have you got any solution?

[2019-10-02 10:41] cihangullx opened #68 "Using on Multiple Pages (Show Menu in childs)"
I want to open the menu on child pages, but it only works on the center viewcontroller. Cannot change center. panel always nil

[2019-10-10 07:08] PGandhi30 commented on #50
@GokmenAkar @fahidattique55
Is it possible to do navigate one controller to another controller?
How is possible for this library?

[2019-10-10 10:11] JhonnyTawk opened #69 "Status bar change to dark"
in my app it's based on a black background so I use status bar style = .light when I implement the FAPanels it's always black.
 I am using the latest FAPanels Pod

I tried setting
[code]

and
`setNeedsStatusBarAppearanceUpdate()`

and this issue persists
**How to fix this issue?**

[2019-10-10 13:56] PrashantKT opened #70 "Memory Issue"
I have setup it like

[code]

Now User press logout button Then I need to change root view controller again but it doesn't dealloc the FAPanel ?

Please help

[2019-10-11 08:35] JhonnyTawk opened #71 "Change icon color when selected"
I want to change the icon when it's selected and when I reopen the menu I want it to stay the selected one and when I click on another item in the menu I want the one clicked to be selected and the previous to return to normal.

Any idea of how to implement this behavior?

[2019-10-11 10:24] PrashantKT commented on #70
After setting root view controller to nil issue solved :)

[2019-10-11 10:24] #70 closed

[2019-10-11 10:37] #71 closed

[2019-10-11 10:39] JhonnyTawk commented on #59
same as me please when you find a solution let me know

[2019-10-11 12:06] JhonnyTawk opened #72 "Pushing from menu won't get back"
I implemented the menu in my app the center View is a TabbarController.
I open the menu I click on an item I go to the view and then I want to return to the main view popViewController and popToRootViewController does not work.
what to do ?

[2019-10-11 13:47] PGandhi30 opened #73 "FAPanels Crash *Shuffled()*"
Application crashed due to shuffled function in boxFade and dumpFall animation.

Generate Error: Multipleclick on table view row. It is increasing UIImageview in an array and it will generate a crash.

_TtGCs23_ContiguousArrayStorageCSo11UIImageView_$ shuffled array

[2019-10-14 03:34] chumendaiyibeigouqi opened #74 "Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)"
Hi,I used xcode 11, ios 13, to create a new project, run it on the device, and encountered an error. Projects created in Xcode10 will not be encountered using FAPanels.
Xcode helped me locate it here.

[2019-10-16 09:47] fahidattique55 commented on #73
@PGandhi30 Can you share more details about crash?

How did you generate it?

[2019-10-16 12:26] PGandhi30 commented on #73
@fahidattique55
 In my side,  "sync data" option available which is an open panel and not a close panel, until then "sync data" option is not completed working at that time multiple clicks on the panel it will crash an app.

[2019-10-29 10:23] jbarros35 commented on #58
I don't understand how to do that either.
my app doesn't just opens at main screen with the menu, it must first pass through a login setup in order to check it out.

[2019-10-29 10:31] jbarros35 opened #75 "No configurable or customizable"
I can't understand why we are obligated to change the AppDelegate, there are no better solution for this?
I mean, most applications need a first login storyboard and only after opens a main view with probably a UITabController.
Your solution looks no much flexible for most of us.

[2019-11-08 09:11] fahidattique55 commented on #75
Hey @jbarros35

It's not necessary to change it in AppDelegate. You can use it from main storyboard as well. I'm planning to add few examples on how to use FAPanels in different scenarios. I'll keep you posting here. Not sure how long its gonna take but will be out soon.

[2019-11-08 09:12] fahidattique55 commented on #74
Hi @chumendaiyibeigouqi

Can you please make sure the root controller in main storyboard is FAPanelController?

If yes then please share some more details how are you using it.

[2019-11-08 09:13] fahidattique55 commented on #73
@PGandhi30

Thanks for sharing details, I was busy in some other work. I'll look into these soon.

[2019-11-08 09:15] fahidattique55 commented on #72
Can you share the code and view controller hierarchy when you are clicking on an item to go to some view? As I believe its just the controller hierarchy issue in your side.

[2019-11-08 09:20] fahidattique55 commented on #69
[code]

@JhonnyTawk

FAPanels uses the `preferredStatusBarStyle ` of the visible controller. Please make sure debugger is going into this function. I hope it will work. If not then let me know I'll try to sort it out for you.

[2019-11-11 09:29] ErAshu commented on #58
any update? I have to use like @jbarros35  uses.
First login process complete then jump on TabBarcontroller with side menu.

[2019-11-14 22:32] xparabolax commented on #36
@fahidattique55 Is this something that you would accept PRs on? This feature would help us and I'm wondering if I could attempt to implement.

[2019-11-15 02:03] fahidattique55 commented on #36
@xparabolax

PRs are always appreciated. Please implement and help the world 👍

[2020-01-30 05:33] gurwinder88 opened #76 "Push and pop from left Menu"
I have home controller that is my HomeVC and then open LeftMenu Using panel?.openLeft(animated :true)

But the issue is pushViewController is not working on leftMenu only panel?.center(viewcontroller) is working and not able to pop back to my HomeVc.  Please help it out.

[2020-02-08 11:59] gurwinder88 commented on #76
Anybody is there to maintain the library ?

[2020-02-17 11:52] Annyjain29 commented on #73
Hello there

I am also having same issue of crash and i fixed it by changing following thing

Pods -  FPanelConfigurations -> change animation from boxType to anyOther i did following
 open var centerPanelTransitionType : FAPanelTransitionType = .crossDissolve

This fix my issue

After apply pods changes please apply clean-build and then run to reflect your changes

[2020-02-25 04:33] fahidattique55 commented on #76
@gurwinder88

I've two understandings of what you are asking for.

1. You're trying to push a controller in left panel (Left panel should be having a navigation controller to do that)
2. You're trying to open centre from left panel (use `openCenter(animated:Bool)` or change the centre panel to show a new centre controller using `center( _ controller: UIViewController, afterThat completion: (() ->

[2020-02-25 04:33] #76 closed, assigned to fahidattique55

[2020-02-25 04:33] #75 closed

[2020-02-25 04:34] #74 closed

[2020-02-25 04:34] #69 closed

[2020-02-25 04:36] fahidattique55 commented on #52
Hey, please use `FAPanelStateDelegate` to manage the states of FAPanel.

[2020-02-25 04:36] #52 closed

[2020-02-25 04:38] fahidattique55 commented on #50
Hey, If you want to present a controller with modal presentation style, then just use native `present(_ viewController: UIViewController)` method and it should work. If you want to move from one controller in centre panel then keep it as a `UINavigationController` and you will be able to use `push` and `pop` features.

[2020-02-25 04:38] #50 closed

[2020-02-25 06:20] fahidattique55 commented on #73
@Annyjain29 would you like to make a pull request for this fix?

[2020-02-25 06:20] #72 closed

[2020-02-25 06:22] fahidattique55 commented on #67
@jerrychong25 you can disable webview's gesture to so the pan gestures of FAPanels will not have any conflict with it.

[2020-02-25 06:22] #67 closed

[2020-02-25 06:24] fahidattique55 commented on #66
@isaacraja15 No, there is no cache mechanism added for side menu. Make sure to instantiate new left menu controller when you are logging in the app or update the UI using `FAPanelStateDelegate`.

[2020-02-25 06:24] #66 closed

[2020-02-25 06:25] #60 closed

[2020-02-25 06:31] fahidattique55 commented on #58
Hey,

You can create a FAPanel controller in your app from anywhere. @ErAshu in your case when user presses the login button then you can create a FAPanel controller using code (or you can use storyboards as well) and assign it as root view controller of your Applications's key window.

For tab bar, @ghimireprashant - there are a lot of scenarios/ways to use FAPanels with tabbar. It totally depend

[2020-02-25 06:31] #58 closed

[2020-02-25 06:31] #65 closed

[2020-02-25 06:35] fahidattique55 commented on #59
Hey,

There are two ways to do this if you are talking about changing centre panel on left menu click event,

1.
[code]

2.
[code]

[2020-02-25 06:35] fahidattique55 commented on #59
If you guys are trying to push some new controller in centre panel or left panel then you need to manage this using UINavigationController.

[2020-02-25 06:35] #59 closed

[2020-02-25 06:54] fahidattique55 commented on #33
Yes, it's ready to use. Please install latest code.

[2020-02-25 06:54] #33 closed

[2020-06-04 12:31] oussa005 commented on #73
@fahidattique55 can you please try to fix this Issue. many user have reported it.
<img width="898" alt="Bildschirmfoto 2020-06-04 um 13 29 00" src="https://user-images.githubusercontent.com/4179218/83756904-9d5a3b00-a667-11ea-9e11-80f12cedac56.png">
<img width="819" alt="Bildschirmfoto 2020-06-04 um 13 30 00" src="https://user-images.githubusercontent.com/4179218/83756908-a0552b80-a667-11ea-91b2-c

[2020-06-11 02:41] Sulemanali511 opened #77 "Side Menu Not Updating Value While App Runing"
When ever i change the profile image or username from profile section response successful and change the name on all place except on  left side menu i replace the username text of UILabel in view did load of side menu

[2020-07-07 08:15] soiferman commented on #73
I figure out how to fix it: just add Gameplay.framework to your project targets

<img width="729" alt="Screenshot 2020-07-07 at 11 14 04" src="https://user-images.githubusercontent.com/13155483/86745600-22f45080-c043-11ea-9acf-5b5ede510fb9.png">

[2020-10-05 00:38] monnaleeza opened #78 "It doesnt working Edge Tap Gesture."
I see working Edge Tap Gesture function attached your image.
So I was runing this function in iphone SE simulator working well.
But I can t run this function in other simulator.
What is the solution for this?
many thanks

[2020-12-30 20:29] ghost opened #79 "panelController.configs.leftPanelWidth = view.bounds.size.width = No more panels haha"
Set the left panel width to full screen and have fun trying to get your content view back ;)

[2021-01-02 18:09] #79 closed, assigned to nobody

[2021-05-30 17:25] venkateshaelegenie commented on #77
I am also facing this issue,My values are not updating in side menu.For the first time only it's fetching values later it's not updating.

[2021-05-30 17:47] venkateshaelegenie commented on #77
Finally i found the solution that We need to add  leftPanelVC?.viewWillAppear(true) in FAPanel+Animations.swift under the loadLeftPanel() like this

if isLeftPanelOnFront {
            leftPanelVC?.viewWillAppear(true)
            view.bringSubviewToFront(leftPanelContainer)
        }

[2021-06-18 07:44] rizwanadev commented on #77
you can use delegate method to update UI when leftvc will appear like this

[code]

[2021-07-06 15:32] venkateshaelegenie opened #80 "After navigate to root view controller from side menu,side menu is not able visible"
After navigate to root view controller from side menu,the side menu is not able to visible

 I have wrriten the below code in my side menu table view did select

![simulator_screenshot_9B502862-7DD7-4FAF-B2DA-BCE3294E1BE2](https://user-images.githubusercontent.com/29649464/124627719-6a532e00-de9d-11eb-9425-db6b971c5672.png)

      let mainStoryboard: UIStoryboard = UIStoryboard(name: "Main", bundl

[2022-07-08 12:57] ChetanKailodiaIOS commented on #53
Hello @fidmor89 ,
 i am facing this issue on my app if i can present controller from the MenuController tableview cell its work fine. But i am using push controller from menu that will be not work.

 Thanks